#links-section {
    background-color: #e9eef2;
    background: url('images/space.gif') no-repeat center center/cover;
    padding: 40px;
    display: flex;
    justify-content: flex-start; 
}

.links-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%;
}

.link-category {
    text-align: left; 
    margin-bottom: 20px; 
}

.link-category h3 {
    font-size: 18px;
    color: #e4dddd;
}

.link-category a {
    display: block;
    color: #585dc5;
    text-decoration: none;
    margin: 5px 0;
    font-size: 16px;
}

.link-category a:hover {
    text-decoration: underline;
}
