body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    color: #D4D4D4;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('images/background.gif') no-repeat center center/cover;
    text-align: center;
}

.hero-content h1 {
    font-size: 4em;
    color: #FFFFFF;
}

.hero-content .subtitle {
    font-size: 1.2em;
    color: #B0B0B0;
    margin-top: 10px;
}

.social-links a {
    color: #D4D4D4;
    margin: 0 10px;
    font-size: 1.5em;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #D4D4D4;
    border-radius: 25px;
    margin: 0 10px;
    text-decoration: none;
    color: #D4D4D4;
    transition: all 0.3s;
}

.button:hover {
    background-color: #D4D4D4;
    color: #1E1E1E;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
}

.scroll-down a {
    color: #D4D4D4;
    font-size: 2em;
}

#experience, #education {
    padding: 60px 20px;
    background-color: #1E1E1E;
    text-align: center;
}

h2 {
    font-size: 3em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.experience-item, .education-item {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #252526;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.experience-img, .education-img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.experience-content, .education-content {
    text-align: left;
    flex: 1;
}

.skills li {
    display: inline-block;
    background-color: #3C3C3C;
    color: #D4D4D4;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}

.experience-item h3, .education-item h3 {
    font-size: 1.5em;
    color: #80CBC4;
    margin-bottom: 10px;
}

.experience-item p, .education-item p {
    font-size: 1.1em;
    color: #B0BEC5;
}

.experience-item i, .education-item i {
    color: #FFAB91;
    margin-right: 8px;
}
